bu<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="card-form">
          <h3 class= "text-center">Modifier Profil</h3>
          <br>
          <br>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :first_name, required: true, autofocus: true %>
              <%= f.input :last_name, required: true, autofocus: true %>
              <%= f.input :email, required: true, autofocus: true %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
              <%= f.input :password, autocomplete: "off", hint: "Laisse vide si tu ne veux pas changer ton mot de passe", required: false %>
              <%= f.input :password_confirmation, required: false %>
              <%= f.input :current_password, hint: "Remplis ton mot de passe actuel pour confirmer les changements", required: true %>
            </div>
            <div class="form-actions form-btn-center">
              <%= f.button :submit, "Modifier", class: "button-yellow" %>
            </div>
          <% end %>
        </div>
        <div class="card-form-footer text-center">
          <h4>Supprimer mon compte</h4>
          <p>Mécontent? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sur?" }, method: :delete %></p>
          <%= link_to "Retour", :back, class: "button-gray btn form-btn-center" %>
        </div>
      </div>
    </div>
  </div>
</div>

