<h2 class="text-center">My offers</h2>
<div class="tabs">
  <div class="tab active" data-target="#my_offers">OFFERS</div>
  <div class="tab" data-target="#my_rentals">RENTALS</div>
  <div class="tab" data-target="#my_request">REQUESTS</div>
</div>
<div class="tab-contents">
  <div class="tab-content dashboard-container" id="my_offers">
    <% unless @user_offers.empty? %>
      <% @user_offers.each do |offer| %>
        <div class="dashboard-flexbox">
          <div class="dashboard-flexbox-image">
            <%= cl_image_tag offer.photo %>
          </div>
          <div class="dashboard-flexbox-description">
            <h2><%= offer.name %></h2>
            <p>
              <%= offer.description %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="tab-content dashboard-container hidden" id="my_rentals">
    <% unless @owner_bookings.empty? %>
      <% @owner_bookings.each do |booking| %>
        <div class="dashboard-flexbox">
          <div class="dashboard-flexbox-image">
            <%= cl_image_tag booking.offer.photo %>
          </div>
          <div class="dashboard-flexbox-description">
            <h2><%= booking.offer.name %></h2>
            <p>
              <%= booking.status %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="tab-content dashboard-container hidden" id="my_requests">
    <% unless @customer_bookings.empty? %>
      <% @customer_bookings.each do |booking| %>
        <div class="dashboard-flexbox">
          <div class="dashboard-flexbox-image">
            <%= cl_image_tag booking.offer.photo %>
          </div>
          <div class="dashboard-flexbox-description">
            <h2><%= booking.offer.name %></h2>
            <p>
              <%= booking.status %>
            </p>
            <% if booking.status == "Pending" %>
              <div class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
                <div class="btn-request">
                  <%= link_to " ✔ ", booking_path(id: booking.id, booking: { status: "Accepted" }), method: :patch, class: "btn btn-success" %>
                  <%= link_to " x ", booking_path(id: booking.id, booking: { status: "Declined" }), method: :patch, class: "btn btn-danger" %>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>


















