<!-- banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url(<%= image_path "meubly.jpg"%>);">
  <div class="banner-content">
    <h1>Moving in has never been so easy</h1>
    <p>Find and Rent all your Furniture in One Place</p>
  <%= render 'shared/searchbar' %>
  </div>
</div>
<!-- container for user value  -->
  <div class="container big-padded">
    <div class="row">
      <h4 class="text-center title">Get a new start with your flat</h4>
      <div class="feature col-xs-12 col-sm-4">
        <%= image_tag "sofa.svg" %>
        <p>Find the finest furniture for your appartement.</p>
      </div>
      <div class="feature col-xs-12 col-sm-4">
        <%= image_tag "money.svg" %>
        <p>Save money by renting it instead of buying it.</p>
      </div>
      <div class="feature col-xs-12 col-sm-4">
        <%= image_tag "ecology1.svg" %>
        <p>Protect environment by giving a second life to thousands of unused furniture.</p>
      </div>
    </div>
  </div>

  <div class="big-padded wrapper-grey ">
    <div class="row">
      <h2 class="text-center title">Make some extra money</h2>
        <p class="text-center">Add your furniture and let people rent it</p>
        <div class="text-center"><%= link_to "ADD MY OFFER", new_offer_path, class:"cta-transparent" %></div>
    </div>
  </div>

<!-- container for categories  -->
<div class="wrapper">
  <div class="big-padded">
    <h2 class="text-center title">Everything you need for your place</h2>
    <div class="container">
      <div class="row small-padded">
      <%= link_to offers_path("category[Furniture]": "on") do %>
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "furniture_720.jpg"%>);">
            <div class="card-category"></div>
            <div class="card-description">
              <h3>Furniture</h3>
            </div>
          </div>
        </div>
        <% end %>
        <%= link_to offers_path("category[Home Appliance]": "on") do %>
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "electro.jpg"%>);">
            <div class="card-category"></div>
            <div class="card-description">
              <h3>Home Appliance</h3>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div class="row">
      <%= link_to offers_path("category[lighting]": "on") do %>
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "lighting_720.jpg"%>);">
            <div class="card-category"></div>
            <div class="card-description">
              <h3>Lighting</h3>
            </div>
          </div>
        </div>
        <% end %>
        <%= link_to offers_path("category[garden]": "on") do %>
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "garden_720.jpg"%>);">
            <div class="card-category"></div>
            <div class="card-description">
              <h3>Garden</h3>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Your footer code -->

<div class="container-wagon-pin">
  <div class="wagon-pin">
    <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/1692/s300/le-wagon-logo.png" />
  </div>
  <div class="shadow"></div>
</div>
