<div class="container-grey">
  <div class="row" id="background-form">
    <div class="col-sm-12 col-sm-offset-4">
      <div class="card-form-offer">
        <h4 class= "text-center">Add new offer</h4>
        <%= simple_form_for(@offer) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :category, collection: Offer::CATEGORY, error: 'Selecting a category is mandatory, please select one', prompt: "Select a category"%>
        <%= f.input :address %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="form-actions text-center">
        <%= f.button :submit, "ADD", class: "button-orange" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
