<div class="backgroundshow">
  <div class="container">
    <div class="row showmyoffer">
      <div class="col-md-8">
        <h2><%= @offer.name %></h2>
        <div class="imageborder">
          <%= cl_image_tag @offer.photo, height: 300, width: 400, crop: :fill %>
        </div>
        <div class="informations showpage">
          <div>
              <%= cl_image_tag @offer.user.photo, class: "avatar-large-bordered" %>
          </div>


          <div>
            <h3 class="titleoffer">Price <% if current_user == @offer.user %><i class="fa fa-pencil-square-o showmyformprice editing" aria-hidden="true"></i><% end %></h3>
            <h4>
              <%= @offer.price %>
            </h4>
            <div class="hidden price_offer">
              <%= simple_form_for [@offer] do |f| %>
              <%= f.input :price %>
              <%= f.submit "Change price", class: "btn btn-primary" %>
              <%  link_to offer_path(@offer), method: :update do %>
              <% end %>
              <% end %>
            </div>
          </div>
          <div>
            <h3 id="titleoffer">Category<% if current_user == @offer.user %><i class="fa fa-pencil-square-o showmyformcategory editing" aria-hidden="true"></i><% end %></h3>
            <h4>
              <%= @offer.category %>
            </h4>
            <div class="hidden category_offer">
              <%= simple_form_for [@offer] do |f| %>
              <%= f.input :category, collection: Offer::CATEGORY, prompt: "Select a category"%>
              <%= f.submit "Change category", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
          <div>
            <h3 class="titleoffer">Address<% if current_user == @offer.user %><i class="fa fa-pencil-square-o showmyformaddress editing" aria-hidden="true"></i><% end %></h3>
            <h4>
              <%= @offer.address %>
            </h4>
            <div class="hidden address_offer">
              <%= simple_form_for [@offer] do |f| %>
              <%= f.input :address %>
              <%= f.submit "Change address", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
        <div>
          <h3>Description <% if current_user == @offer.user %><i class="fa fa-pencil-square-o showmyform editing" aria-hidden="true"></i><% end %></h3>
          <p>
            <%= @offer.description %>
          </p>
          <div class="hidden description_offer">
            <%= simple_form_for [@offer] do |f| %>
            <%= f.input :description %>
            <%= f.submit "Change description", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_user != @offer.user %>
              <div class="col-md-3">
                    <!-- Rent datepicker  -->
                <div class="module-card-price"><span id="finalprice">-</span> € </div>
                <script>var final_price = <%= @offer.price %></script>
                  <div class="module-card">
                    <div style="display: flex; justify-content: space-between;">
                      <%= cl_image_tag @offer.user.photo, class: "avatar-medium" %>
                      <p class="usernameforoffer"><%= @offer.user.first_name %></p>
                    </div>
                          <%= simple_form_for [@offer, Booking.new] do |f| %>
                            <%= f.input :fullrange %>
                            <div id="map" style="width: 100%; height: 150px;"></div>
                            <%= f.submit "Book it", class: "btn btn-success booktheoffer" %>
                          <% end %>
                          <div class="module-card-bottom">
                        </div>
                  </div>
              </div>
          <% end %>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<%= javascript_tag do %>
$(document).ready(function() {var handler = Gmaps.build('Google');handler.buildMap({ internal: { id: 'map' } }, function() {markers = handler.addMarkers(
<%= raw @hash.to_json %>
);handler.bounds.extendWith(markers);handler.fitMapToBounds();if (markers.length == 0) {handler.getMap().setZoom(2);} else if (markers.length == 1) {handler.getMap().setZoom(14);}});});
<% end %>
  <script>
      var msDay = 60*60*24*1000;
      var number_of_days = 0;

      $(document).ready(function(){
      $('.applyBtn').on('click', function(){
      var start_date = new Date($('input.input-mini[name=daterangepicker_start]').val());
      var end_date = new Date($('input.input-mini[name=daterangepicker_end]').val());
      number_of_days = (end_date) - (start_date);
      number_of_days = (number_of_days)/msDay;
      var daily_price = <%= @offer.price %>;
      var final_price = number_of_days * daily_price;
      $('span#finalprice').html(final_price);
      });
    })
    </script>
<% end %>
